h1 {
    text-align: center;
}

#bodyContainer {
    display: flex;
    position: relative;
    flex-direction: column;
}

/* #container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #f9f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

#container div {
    width: 200px;
    height: 200px;
}