@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500;1,600&display=swap');

main {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 33vw;
}

.driver_caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    /* background-color: #20ABF5; */
    z-index: 10;
    margin-top: 20px;
    /* align-items: center; */
}

#title {
    font-size: 3em;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0px;
}

#caption {
    font-size: 2em;
    /* text-align: center; */
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.form-control {
    height: 50px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    margin: 3px 3px;
    border: none;
    outline-width: 0;
    text-indent: 0.6em;
}
.form-control:focus {
    border: 2px solid #20ABF5;
    /* border-radius: 0.25em; */
    outline: 0;
}

.input-container {
    position: relative;
    justify-content: center;
    display: flex;
    flex: 1 1 0%;
    position: relative;
}

.input-label-container {
    width: 100%;
    float: left;
    display: flex;
    background-color: rgb(255, 255, 255);
    line-height: 24px;
    font-size: 16px;
    border: none;
}

.formContainer {
    width: 26vw;
    height: 70%;
    z-index: 40;
    background-color: #efefef; 
    border-radius: 10px; 
    float: right;
    margin-right: 45px;
    margin-top: 45px;
    box-sizing: border-box;
    display: block;

}
.header {
    font-size: 30px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

#registerButton {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 8px 8px;
    font-family: Poppins, sans-serif; 
    color: white;
}

#nextButton {
    font-size: 18px; 
    background-color: #003049;
    width: 80%;
    font-family: Poppins, sans-serif;
    height: 3rem;
    font-weight: 500; 
    border: none; 
    border-radius: 0.25em;
}

.registerMain {
    width: 100vw; 
    height: 85%;
    
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    padding: 25px 80px 0 80px;
    display:flex;
    justify-content: space-between;
}


@media only screen and (max-width: 900px) {
    .formContainer {
        width: 50vw;
        float: none;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .driver_caption {
        display: none;
    }
}